{% extends "DiarioProfessorBundle::layout.html.twig" %}

{% block content %}

	<h1>
		Aula: {{ aula.data | date('d/m/Y') }} - 
		Turma: {{ aula.turma.disciplina.codigoDisciplina }} -
		Ano/Sem: {{ aula.turma.ano ~ '/' ~ aula.turma.semestre }}
	</h1>

	<form class="form-horizontal" action="{{ path('professor_turma_diario_processar') }}" method="post">
		<input type="hidden" name="turma" value="{{ aula.turma.id }}" />
		<input type="hidden" name="aula" value="{{ aula.id }}" />
		
	    <table class="table table-hover record_properties">
	        <tbody>
	        	{% for aluno in aula.alunos %}
		            <tr>
		            	{% set matricula = aluno.aluno.id | split('') %}
		            	{% set ano = matricula[0] ~ matricula[1] %}
		            	{% set sem = matricula[2] %}
		            	{% set num = matricula[3] ~ matricula[4] ~ matricula[5] ~ matricula[6] %}
		                <th scope="row">Matricula: {{ "%d.%d.%d" | format(ano,sem,num) }}</th>
		                <td>
							{{ aluno.aluno.nome }}
							<input type="hidden" name="{{ aluno.aluno.id }}" value="{{ aluno.aluno.id }}" />
		                </td>
		                <td>
		                	{% set presenca = aluno.presenca %}		                	
		                	<input type="checkbox" name="{{ aluno.aluno.id ~ '_' ~ loop.index }}" {% if presenca %}checked{% endif %}>
		                </td>
		            </tr>
	            {% endfor %}
			</tbody>
	    </table>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i>Efetuar presenca</button>
        </div>
    </form>

    <div class="btn-group record_actions">
        <a class="btn btn-info" href="{{ path('professor_turma_diario', {id: aula.turma.id}) }}">
        	<i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
		</a>
    </div>

{% endblock %}

